.container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.innerContainer {
    display: flex;
    flex: auto;
}

.sketchPadColumn {
    flex: 1;
}

.sketchPadRow {
    flex: 1;
    opacity: 0.1;
}

.gridButton {
    margin-bottom: auto;
    padding: 10px;
}