.container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.outerContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 480px;
    border: 3px solid black;
    margin: 100px;
}

.innerContainer {
    display: flex;
    flex: 1;
    height: 480px;
    width: 480px;
}

.sketchPadColumn {
    flex: auto;
}

.sketchPadRow {
    flex: 1;
    opacity: 0.1;
}

.gridButton {
    margin-bottom: auto;
    padding: 10px;
}